* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.flex {
    display: flex;
}
aside {
    width: 150px;
    height: 100vh;
    background-color: #29434e;
    color: #b3e5fc;
}
aside img {
    height: 40px;
    margin: 10px 5px;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #546e7a;
}
.flex i {
    font-size: 18px;
    padding: 10px 10px;

}
.flex span {
    font-size: 12px;
    padding: 10px 10px;
}
.playlist {
    padding: 10px 0;
    color: #546e7a;
}
.playlist p, li {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px;
}
.playlist p {
    color: #b3e5fc;
}
.playlist i {
    font-size: 30px;
}
.icon i:hover {
    color: #b3e5fc;
    cursor: pointer;
    border-left: 4px solid #f57f17;
}
.playlist i:hover {
    color: #b3e5fc;
    cursor: pointer;
    border-left: 4px solid #f57f17;
}
.playlist li:hover {
    color: #b3e5fc;
    cursor: pointer;
    border-left: 4px solid #f57f17;
}
.account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: #546e7a;
    margin-top: 140px;
    font-size: 14px;
    font-weight: bold;
}
.account p {
    padding: 10px 10px;
}
.account i {
    color:  #b3e5fc;
}
.line {
    height: 1px;
    width: 90%;
    background-color: #546e7a;
    margin: 0 5px;
}
.right {
    display: flex;
    flex-direction: column;
}
header {
    height: 60px;
    width: calc(100vw - 150px);
    opacity: 0.8;
    position: fixed;
    background-color: #29434e;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}
.w3-button {
    border: 1px solid #819ca9;
    color: #b3e5fc;
    margin: 0 20px;
    padding: 8px 30px;
    cursor: pointer;
}
.w3-button:hover {
    background-color: #b3e5fc !important;
    color: #29434e !important;
}
main {
    display: flex;
    flex-direction: column;
    background-color: #546e7a;
    width: calc(100vw - 150px);
    padding: 25px;
    height: calc(100vh);
    overflow-y: auto;
    float: left;
}
.selection {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    height: 120px;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 0 0 50px;

}

.selection p {
    color: #819ca9;
    font-size: 15px;
    font-weight: bold;
    margin: 0 20px;
    cursor: pointer;
}
.selection p:hover {
    border-bottom: 4px solid #f57f17;
    color: #b3e5fc;
}
.last-play {
    display: flex;
    flex-wrap: wrap;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h4, p {
    font-weight: bold;
    color: #b3e5fc;
}
.row small {
    color: #819ca9;
    font-weight: bold;
}
.card {
    flex: 0 0 200px;
    margin: 5px;
}
.cover {
    position: relative;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.cover:hover .overlay {
    opacity: 1;
}
img:hover {
    filter: brightness(50%);
}
.created {
    display: flex;
    flex-wrap: wrap;
}
.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    background-color: #4f5b62;
    position: fixed;
    bottom: 0px;
    z-index: 99999;
}
.start-nav-player {
    width: 15%;
    height: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 10px;
}
.title-player {
    padding: 0 15px;
}
.center-nav-player {
    width: 50%;
    height: 70px;
}
.end-nav-player {
    width: 15%;
    height: 70px;
}
.title-player small {
    color: #819ca9;
    font-weight: bold;
}
.start-nav-player i {
    color: #819ca9;
}
.center-nav-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.command {
    display: flex;
    justify-content: center;
    color: white;
}
.scrolling {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.meter {
	height: 3px;
    width: 450px; /* Can be anything */
	position: relative;
	background: #819ca9;
    margin: 0 25px;
}
.meter > span {
  display: block;
  height: 3px;
  background-color: #f57f17;
  padding: 0 0;
  box-shadow:
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.end-nav-player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #819ca9;
}
i:hover {
    color: #b3e5fc;
    cursor: pointer;
}
